/*default styles to dark mode*/
:root {
    --bg-color: #000000;
    --text-color: #f5eded;
}

/* if the user has light change */
@media (prefers-color-scheme: light) {
    body {
        --bg-color: #eee;
        --text-color: black;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: #d65a31;
}

h1 {
    font-size: 3rem;
}
