@import "../../node_modules/normalize.css/normalize.css";
@import "screensizes";
@import "loader";
@import "sidebar";
@import "links";

.main-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    .post-summary {
        width: 70%;
        @media #{$tablet} {
            width: 90%;
        }
        @media #{$mobile} {
            width: 100%;
        }
    }
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    margin-top: 70px;
}

.flexbox-container > div:first-child {
    padding: 10px;
}

.flexbox-container > div:nth-child(2) {
    padding-right: 60px;
}
