.side-bar {
    @mixin bottomBorder {
        border-bottom: 3px solid black;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .title {
        display: flex;
        flex-direction: column;
        font-size: 36px;
        font-weight: bold;
        text-align: right;
        padding-bottom: 10px;
        width: 150px;
        @include bottomBorder();
    }
    .social {
        width: 150px;
        padding-top: 5px;
        @include bottomBorder();
        img {
            height: 50px;
        }
    }
    .time-line {
        padding-top: 20px;
        width: 300px;
        @include bottomBorder();
    }
}
